.background{
	// background: url(../images/tangram1.gif) no-repeat;
	// background-size:cover;
	background:#000;
	height:100%;
	width:100%;
	// background-size:cover;
	position:fixed;
}
.wrapper{
	display:none;
}

#intro{
	position:fixed;
	color:#fff;
	top:40%;
	width:80%;
	margin:0 10%;
	text-align:center;
	font-size:3em;
}

#tangram, #third-section{
	position:fixed;
	color:#fff;
	height:100%;
	width:100%;
	top:100%;
	font-size:3em;

}

.tangram{

}

.square{
	position:fixed;
	height: 70px; 
	width: 70px; 
	background:#504F4C;
	top:-146px;
	left:50%;
	margin-left: 15px;
}

.triangle-small-1, .triangle-small-2{
	position:fixed;
	width:0;
	height:0;
	border-top: 0px solid transparent;
	border-right: 50px solid transparent;
	border-left: 50px solid transparent;
}

.triangle-small-1{
	border-bottom: 50px #DCD9D0 solid;
	top:-186px;
	left:50%;
	margin-left:26px;
}

.triangle-small-2{
	border-bottom: 50px #908D88 solid;
	top:-110px;
	left:50%;
	margin-left: -50px;
}

.triangle-medium{
	position:fixed;
	width:0;
	height:0;
	border-top: 0px solid transparent; 
	border-right: 71px solid transparent; 
	border-bottom: 71px #F7F3E9 solid; 
	border-left: 71px solid transparent;
    top:-356px;
    top:-71px;
	left:107px;
	left:50%;
	margin-left: 5px;
}

.triangle-large-1, .triangle-large-2{
	position:fixed;
	width:0;
	height:0;
    border-top: 0px solid transparent;
    border-right: 100px solid transparent; 
    border-left: 100px solid transparent;
}

.triangle-large-1{
	border-bottom: 100px #9D9A94 solid; 
	top:-212px;
	left:2px;
	left:50%;
	margin-left:-100px;

}

.triangle-large-2{
	border-bottom: 100px #767470 solid; 
	top:-161px;
	left:-49px;
	left:50%;
	margin-left:-151px;
}

.parallelogram{
	z-index:-1;
	position:fixed;
	height:48px;
	width:99px;
	background:#ABA8A1;
	top:-344px;
	top:-59px;
	left:26px;
	left:50%;
	margin-left: -75px;
}




