.background{
	background: url(../images/tangram1.gif) no-repeat;
	// background-size:cover;
	// background:#000;
	height:100%;
	width:100%;
	// background-size:cover;
	position:fixed;
}
.wrapper{
	display:none;
}

#intro{
	position:fixed;
	color:#fff;
	top:50%;
	width:100%;
	text-align:center;
	font-size:5em;
}

#second-section, #third-section{
	position:fixed;
	color:#fff;
	height:100%;
	width:100%;
	top:100%;
	font-size:3em;

}

.square{
	position:fixed;
	height: 70px; 
	width: 70px; 
	background:grey;
	top:-431px;
	left:117px;
}

.triangle-small-1, .triangle-small-2{
	position:fixed;
	width:0;
	height:0;
	border-top: 0px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px red solid;
	border-left: 50px solid transparent;
}

.triangle-medium{
	position:fixed;
	width:0;
	height:0;
	border-top: 0px solid transparent; 
	border-right: 71px solid transparent; 
	border-bottom: 71px green solid; 
	border-left: 71px solid transparent;
    top:-356px;
    // top:1000px;
	left:107px;
}

.triangle-large-1, .triangle-large-2{
	position:fixed;
	width:0;
	height:0;
    border-top: 0px solid transparent;
    border-right: 100px solid transparent; 
    border-bottom: 100px green solid; 
    border-left: 100px solid transparent;
}



.parallelogram{
	position:fixed;
	height:49px;
	width:99px;
	background:grey;
	top:-344px;
	left:26px;
}

.triangle-small-1{
	top:-471px;
	left:128px;
}

.triangle-small-2{
	top:-395px;
	left:52px;
}

.triangle-large-1{
	top:-497px;
	left:2px;

}

.triangle-large-2{
	top:-446px;
	left:-49px;
}
