.nav-toggle{
	position:fixed;
	right:0px;
	color:#fff;
	padding:30px;
	background:#282827;
	text-align:center;
	vertical-align: center;
	z-index:2;
	transition: all .7s ease-in-out;
	&:hover{
		color:#1b9364;
	}
}
.underline{
	background:#fff;
	height:2px;
	width:100%;
	display:block;
	margin: 5px auto;
}
nav{
	display:none;
	position:fixed;
	right:0px;
}

#container{
	text-align:center;
	position:relative;
	height:100%;
}
header{
	color:#fff;
	font-size:2em;
	padding:27px;
	height:36px;
	width:100%;
	left:0px;
	position:fixed;
	z-index:1;
}

#main{
	background: url(../images/mainbg.png) no-repeat;
	background-size:cover;
	background-position:50% 0%;
}
#main-text{
	position:absolute;
	top:40%;
	text-align:center;
	width:100%;
	opacity:1;
}