.background {
  background: #000;
  height: 100%;
  width: 100%;
  position: fixed; }

.wrapper {
  display: none; }

#intro {
  position: fixed;
  color: #fff;
  top: 40%;
  width: 80%;
  margin: 0 10%;
  text-align: center;
  font-size: 3em; }

#tangram, #third-section {
  position: fixed;
  color: #fff;
  height: 100%;
  width: 100%;
  top: 100%;
  font-size: 3em; }

.square {
  position: fixed;
  height: 70px;
  width: 70px;
  background: #fff;
  top: -146px;
  left: 50%;
  margin-left: 15px; }

.triangle-small-1, .triangle-small-2 {
  position: fixed;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px #fff solid;
  border-left: 50px solid transparent; }

.triangle-small-1 {
  top: -186px;
  left: 50%;
  margin-left: 26px; }

.triangle-small-2 {
  top: -110px;
  left: 50%;
  margin-left: -50px; }

.triangle-medium {
  position: fixed;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 71px solid transparent;
  border-bottom: 71px #fff solid;
  border-left: 71px solid transparent;
  top: -356px;
  top: -71px;
  left: 107px;
  left: 50%;
  margin-left: 5px; }

.triangle-large-1, .triangle-large-2 {
  position: fixed;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px #fff solid;
  border-left: 100px solid transparent; }

.triangle-large-1 {
  top: -212px;
  left: 2px;
  left: 50%;
  margin-left: -100px; }

.triangle-large-2 {
  top: -161px;
  left: -49px;
  left: 50%;
  margin-left: -151px; }

.parallelogram {
  position: fixed;
  height: 48px;
  width: 99px;
  background: #fff;
  top: -344px;
  top: -59px;
  left: 26px;
  left: 50%;
  margin-left: -75px; }
