/* http://colorschemedesigner.com/#0u21Thxi2v5wt */
$navheight: 50px;

.group:after {
  content: "";
  display: table;
  clear: both;
}


html, body,ul, a, nav, h2, h3{
        margin:0;
        padding:0;
        background-color:#856F5C;
        color:white;
        font-family: 'Andika', sans-serif;
        font-size:100%;
        
}

ul{
        list-style-type:none;
}

a{
        text-decoration:none;
}

.barname{

        font-family: 'Lobster', sans-serif;
        float:right;
        font-size:2em;
       margin-right:5%;
    color: #66ACAC;
    text-shadow: -1px -1px #271303;
}

.page-wrap{
        /*max-width:900px;*/
        max-width:60%;
        margin:0 auto 50px auto;
}

.content-container{
        margin-top:50px;
        box-shadow: 0 10px 20px 10px #484846;
}

.mainnav{
        border:1px solid black;
        box-shadow: inset 1px 1px #B08969, inset -1px -1px #B08969;
        width:100% -1px;
        font-size: 1em;
        height: $navheight;
        background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#906541), to(#5F3716));
        .mainnav-content{
            height:inherit;
            width:80%;
            margin:0 auto;
                    a{
                                display:block;
                                float:left;
                                position:absolute;
                                color:white;
                                background-color:transparent;
                                padding: ( ( $navheight - 26 ) / 2 ) 40px;
                                vertical-align: middle;
                                transition:all .15s ease-in-out;
                                position:relative;                           
                        }
        }
}

.nav-highlight{
        position:absolute;
        display:inline;
        bottom:0;
        left:0;
        height:3px;
        width:100%;
        background-color:#79ACAC;
       -webkit-transform: scale(0,1);
        transition: all .15s ease-in-out;
}

#active-nav-text, .mainnav a:hover, .mainnav a .active{
        background:#5D412A;
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        color: #66ACAC;
}

.active-highlight, a:hover .nav-highlight{
        -webkit-transform: scale(1,1);
}

.homeimage{
        max-width:100%;
        margin-top:0;
        margin-bottom:-6px;
}

.footer-content{
        font-size:1.25em;
        margin:0 20%;
        h1{
                color: #fff;
                border-bottom:5px dotted #275656;
                text-shadow: -1px -1px #271303;
                padding-bottom:20px;
                margin-bottom:20px;
        }
        p{
                /*color:#C8A88D; */
                color:#fff;
                text-shadow: -1px -1px #271303;
        }
        .address{
                float:left;
        }
        .hours{
                float:right;
        }
        
}
small{
                float:right;
                font-style:italic;
        }

/*about section*/
.content{
        background-color:#FCFBFA;
        color:#3D3D3D;
        padding:25px 75px 50px 75px;        
        header{

                h1{
                margin-bottom:25px;
                font-size:2.5em;
                text-align:left;
            }
        }

}
/******/

/*menu section*/
.menu{

                background-color:#FCFBFA;
                color:#3D3D3D;
        h1{
                text-decoration:underline;
                font-size:1.875em;
        }
        h2{
                background-color:#FCFBFA;
                color:#3D3D3D;
                font-size:1.56em;
                font-weight:200;
        }
        h3{
                background-color:#FCFBFA;
                color:#3D3D3D; 
                font-size:1em;
                padding-bottom:20px;          
        }

        text-align:center;
}

/******/

@media (max-width: 1660px){
    .barname{
    float:none;
    margin-left:auto;
    margin-right:auto;
    font-size:2.5em;
    width:10em;
    }
}
@media (max-width: 1435px){
    /*navbar breaks - stack it three by two*/
    .mainnav{
        height:$navheight*2;
    }
   .nav-highlight{
        background-color:transparent;

    }

}

@media (max-width:1260px){
    /*address/hours break, stack them instead*/
}

