/* http://colorschemedesigner.com/#0u21Thxi2v5wt */
/* line 4, Sass/style.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 10, Sass/style.scss */
html, body, ul, a, nav {
  margin: 0;
  padding: 0;
  background-color: #856F5C;
  color: white;
  font-family: 'Andika', sans-serif;
}

/* line 18, Sass/style.scss */
ul {
  list-style-type: none;
}

/* line 22, Sass/style.scss */
a {
  text-decoration: none;
}

/* line 26, Sass/style.scss */
.page-wrap {
  max-width: 900px;
  margin: 0 auto 50px auto;
}

/* line 30, Sass/style.scss */
.content-container {
  margin-top: 100px;
  margin-bottom: 50px;
  box-shadow: 0 10px 20px 10px #484846;
}

/* line 36, Sass/style.scss */
.mainnav {
  border: 1px solid black;
  box-shadow: inset 1px 1px #b08969, inset -1px -1px #b08969;
  width: 100% -1px;
  font-size: 16px;
  height: 50px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#906541), to(#5f3716));
}
/* line 43, Sass/style.scss */
.mainnav .mainnav-content {
  height: inherit;
  width: 80%;
  margin: 0 auto;
}
/* line 47, Sass/style.scss */
.mainnav .mainnav-content ul li {
  float: left;
  display: block;
  height: 100%;
}
/* line 51, Sass/style.scss */
.mainnav .mainnav-content ul li a {
  display: block;
  position: absolute;
  color: white;
  background-color: transparent;
  padding: 12px 40px;
  vertical-align: middle;
  transition: all .15s ease-in-out;
  border-bottom: 0px solid #666666;
  position: relative;
}

/* line 66, Sass/style.scss */
.menu-highlight {
  position: absolute;
  display: inline;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #79ACAC;
  -webkit-transform: scale(0, 1);
  transition: all .15s ease-in-out;
}

/* line 78, Sass/style.scss */
.active-text, .mainnav ul li a:hover, .mainnav ul li a .active {
  box-shadow: inset 1px -1px black, inset -1px 0 black, 1px 0 #b08969;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b08969), to(#744824));
}

/* line 83, Sass/style.scss */
.active-highlight, .mainnav ul li a:hover .menu-highlight {
  -webkit-transform: scale(1, 1);
}

/* line 87, Sass/style.scss */
.homeimage {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: -6px;
}

/* line 93, Sass/style.scss */
.footer-content {
  font-size: 20;
  margin: 50px 20%;
}
/* line 96, Sass/style.scss */
.footer-content h1 {
  color: #fff;
  border-bottom: 5px dotted #275656;
  text-shadow: -1px -1px #271303;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 103, Sass/style.scss */
.footer-content p {
  /*color:#C8A88D; */
  color: #fff;
  text-shadow: -1px -1px #271303;
}
/* line 108, Sass/style.scss */
.footer-content .address {
  float: left;
}
/* line 111, Sass/style.scss */
.footer-content .hours {
  float: right;
}

/* line 116, Sass/style.scss */
small {
  float: right;
  font-style: italic;
}

/*about.html*/
/* line 122, Sass/style.scss */
.about {
  background-color: #FCFBFA;
  color: #3D3D3D;
  padding: 25px 75px 50px 75px;
}
/* line 126, Sass/style.scss */
.about h1 {
  margin-bottom: 25px;
}
